Makefile
Makefile.in
ao.pc
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
doc/Makefile.in
include/Makefile.in
include/ao/Makefile.in
include/ao/os_types.h
install-sh
libtool
ltmain.sh
missing
.deps
.libs
*.lo
*.la
