Source: libao
Section: libs
Priority: optional
Maintainer: Christopher L Cheney <ccheney@debian.org>
Build-Depends: debhelper, libarts-dev, libasound1-dev [!m68k], libesd0-dev
Standards-Version: 3.5.2.0

Package: libao-dev
Architecture: any
Section: devel
Depends: libao0 (= ${Source-Version}), libc6-dev
Description: Cross Platform Audio Output Library Development
 The libao-devel package contains the header files and documentation
 needed to develop applications with libao.

Package: libao0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Suggests: libarts, libasound1, libesd0 | libesd-alsa0
Description: Cross Platform Audio Output Library
 Libao is a cross platform audio output library.  It currently supports
 ESD, OSS, Solaris, and IRIX.
